/* Шрифты */
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans SemiBlold'), local('OpenSans-SemiBlold'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBlold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans italic'), local('OpenSans-italic'),
        url('../fonts/OpenSans-italic.woff2') format('woff2'),
        url('../fonts/OpenSans-italic.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}


/* Обнулние стилей */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin: 0;
}

input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
}

input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
}

input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
}

input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.2s ease;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
}

input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
}

input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
}

input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.2s ease;
}

/* glob */
body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1920px;
    padding: 0 160px;
    margin: 0 auto;
}

.section-offset {
    padding: 80px 0;
}

.section-title {
    font-size: 48px;
    line-height: 65px;
    color: #333;
}

.section-descr {
    font-size: 16px;
    line-height: 32px;
    color: #333;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.accor-full {
    transition: height .2s ease;
    height: 0;
    overflow: hidden;
}

/* Шапка */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header__top {
    background-color: #000;
    padding-top: 30px;
    padding-bottom: 30px;

}

.header__bottom {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 16.5px;
    padding-bottom: 16.5px;
}

.header__top-container,
.header__bottom-container {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 174px;
}

.logo:focus {
    outline: 2px solid #C283F3;
    outline-offset: 5px;
}

.header__menu {
    margin-right: auto;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    padding: 6px;
    transition: color .2s ease, background-color .2s ease;
}

.menu__link:focus {
    background-color: #7943A4;
}

.menu__link:hover {
    color: #C283F3;
    background-color: transparent;
}

.menu__link:active {
    color: #7943A4;
    background-color: transparent;
}

.header__enter {
    display: flex;
    align-items: center;
    padding: 6px;
    transform: translateX(6px);
    transition: background-color .2s ease;
}

.header__enter:focus {
    background-color: #7943A4;
}

.header__enter:hover {
    background-color: transparent;
}

.header__enter-icon {
    margin-right: 7px;
}

.header__enter-icon path {
    transition: fill .2s ease;
}

.header__enter:hover .header__enter-icon path {
    fill: #C283F3;
}

.header__enter:active .header__enter-icon path {
    fill: #9D5CD0;
}

.header__enter-text {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    transition: color .2s ease;
}

.header__enter:hover .header__enter-text {
    color: #C283F3;
}

.header__enter:active .header__enter-text {
    color: #9D5CD0;
}

.header__bottom-menu {
    margin-right: auto;
}

.menu-bottom__list {
    display: flex;
    align-items: center;
}

.menu-bottom__item {
    margin-right: 84px;
    position: relative;
    transform: translateX(-6px);
}

.menu-bottom__item:last-child {
    margin-right: 0;
}

.menu-bottom__item-open {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 6px;
    transition: background-color .2s ease;
}

.menu-bottom__item-open:focus {
    background-color: #7943A4;
}

.menu-bottom__item-open:hover {
    background-color: transparent;
}

.menu-bottom__item-open:active {
    background-color: transparent;
}

.menu-bottom__item-text {
    margin-right: 3px;
    font-size: 18px;
    line-height: 25px;
    color: #fff;
    transition: color .2s ease;
}

.menu-bottom__item-open:hover .menu-bottom__item-text {
    color: #9D5CD0;
}

.menu-bottom__item-open:active .menu-bottom__item-text {
    color: #7943A4;
}

.menu-bottom__item-arrow {
    transform-origin: center;
    transition: transform .2s ease;
}

.menu-bottom__item-open .menu-bottom__item-arrow path {
    transition: stroke .2s ease;
}

.menu-bottom__item-open:hover .menu-bottom__item-arrow path {
    stroke: #9D5CD0;
}

.menu-bottom__item-open:active .menu-bottom__item-arrow path {
    stroke: #7943A4;
}

.menu-bottom__item-open.active .menu-bottom__item-arrow {
    transform: rotate(180deg);
}

.search {
    display: flex;
    align-items: center;
}

.search__icon {
    margin-right: 10px;
}

.search__input {
    background-color: transparent;
    font-size: 18px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.85);
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
    min-width: 218px;
    transition: border-bottom-color .2s ease;
}

.search__input:focus {
    border-bottom-color: #7943A4;
}

.search__input:hover {
    border-bottom-color: #C283F3;
}


.search__input::placeholder {
    color: rgba(255, 255, 255, 0.85);
}

.search__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.85);
}

.search__input::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.85);
}

.search__input:-moz-placeholder {
    color: #fff;
    opacity: .85;
}

.search__input::-moz-placeholder {
    color: #fff;
    opacity: .85;
}

.search__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.85);
}

.menu-bottom__simplebar {
    max-height: 220px;
    overflow: auto;
    padding-right: 21px;
}

.menu-bottom__simplebar .simplebar-track.simplebar-vertical {
    background-color: #000;
    width: 2px;
}

.menu-bottom__simplebar .simplebar-scrollbar {
    width: 2px;
    background-color: #fff;
}

.menu-bottom__dropdown {
    position: absolute;
    top: 100%;
    left: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 16px;
    padding: 40px 19px 40px 40px;
    opacity: 0;
    visibility: hidden;
    width: 300px;
    transition: opacity .2s ease, visibility .2s ease;
}

.menu-bottom__item-open.active+.menu-bottom__dropdown {
    opacity: 1;
    visibility: visible;
}

.menu-bottom__sub-item {
    margin-bottom: 20px;
}

.menu-bottom__sub-item:last-child {
    margin-bottom: 0;
}

.menu-bottom__sub-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
    padding: 10.5px 14px;
    min-width: 220px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.menu-bottom__sub-link:focus {
    outline: 2px solid #9D5CD0;
    outline-offset: -2px;
}

.menu-bottom__sub-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
    transition: border-color .2s ease;
}

.menu-bottom__sub-link:hover::after {
    border-color: #9D5CD0;
}

.menu-bottom__sub-link:active::after {
    border-color: transparent;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.menu-bottom__sub-link:active {
    outline: none;
}

.menu-bottom__sub-link_tintoretto {
    background-image: url('../img/header/tintoretto.jpg');
}

.menu-bottom__sub-link_friedrich {
    background-image: url('../img/header/friedrich.jpg');
}

.menu-bottom__sub-link_leonardo {
    background-image: url('../img/header/leonardo.jpg');
}

.menu-bottom__sub-link_verrocchio {
    background-image: url('../img/header/verrocchio.jpg');
}

.menu-bottom__sub-link_monet {
    background-image: url('../img/header/monet.jpg');
}

.menu-bottom__sub-link_sisley {
    background-image: url('../img/header/sisley.jpg');
}

.menu-bottom__sub-link_mane {
    background-image: url('../img/header/mane.jpg');
}

.menu-bottom__sub-link_renoir {
    background-image: url('../img/header/renoir.jpg');
}

.menu-bottom__sub-link_van-gogh {
    background-image: url('../img/header/van-gogh.jpg');
}

.menu-bottom__sub-link_cezanne {
    background-image: url('../img/header/cezanne.jpg');
}

.menu-bottom__sub-link_gauguin {
    background-image: url('../img/header/gauguin.jpg');
}

.menu-bottom__sub-link_sulfur {
    background-image: url('../img/header/sulfur.jpg');
}

.menu-bottom__sub-link_kandinsky {
    background-image: url('../img/header/kandinsky.jpg');
}

.menu-bottom__sub-link_marinetti {
    background-image: url('../img/header/marinetti.jpg');
}

.menu-bottom__sub-link_malevich {
    background-image: url('../img/header/malevich.jpg');
}

.menu-bottom__sub-link_picasso {
    background-image: url('../img/header/picasso.jpg');
}

.menu-bottom__sub-link_carra {
    background-image: url('../img/header/carra.jpg');
}

.menu-bottom__sub-link_pratella {
    background-image: url('../img/header/pratella.jpg');
}

.menu-bottom__sub-link_severini {
    background-image: url('../img/header/severini.jpg');
}

.menu-bottom__sub-link_balla {
    background-image: url('../img/header/balla.jpg');
}

.menu-bottom__sub-link-text {
    position: relative;
    z-index: 10;
}

/* promo */
.promo {
    position: relative;
    padding: 233px 0 120px;
}

.promo__container {
    position: relative;
    z-index: 10;
}

.promo__slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.promo__slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.promo__slide:nth-child(1) {
    background-image: url('../img/promo/slide-1.jpg');
}

.promo__slide:nth-child(2) {
    background-image: url('../img/promo/slide-2.jpg');
}

.promo__slide:nth-child(3) {
    background-image: url('../img/promo/slide-3.jpg');
}

.promo__title {
    font-weight: 700;
    font-size: 72px;
    line-height: 98px;
    color: #fff;
    max-width: 597px;
}

.promo__descr {
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
    color: #fff;
    margin-bottom: 92px;
    max-width: 579px;
}

.promo__btn {
    padding: 21.5px 29px;
    min-width: 314px;
    width: max-content;
    background-color: #9D5CD0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 100px;
    border: 3px solid #9D5CD0;
    transition: border-color .3s ease, background-color .2s ease;
}

.promo__btn:focus {
    outline: 2px solid #C283F3;
    outline-offset: 5px;
}

.promo__btn:hover {
    border-color: #D1A9F0;
    outline: none;
}

.promo__btn:active {
    background-color: #7943A4;
    outline: none;
}

/* about */
.about {
    padding-bottom: 70px;
}

.about__title {
    margin-bottom: 16px;
}

.about__descr {
    max-width: 1080px;
}

/* gallery */
.gallery {
    background-image: url('../img/gallery/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery__title {
    color: #fff;
    margin-bottom: 22px;
}

.gallery__filters {
    max-width: 400px;
    width: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
}

.filters__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}

.filters__select {
    flex: 1 1 auto;
}

.choices {
    margin-bottom: 0;
}

.choices__inner {
    border: 1px solid #fff !important;
    background-color: transparent;
    border-radius: 6px !important;
    padding: 3px 40px 3px 16px;
    min-height: 40px;
}

.choices[data-type*=select-one] .choices__inner {
    padding-bottom: 3px;
    transition: background-color .2s ease;
}

.choices[data-type*=select-one] .choices__inner:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.choices__item {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
}

.choices__list {
    padding: 0;
}

.choices[data-type*=select-one]::after {
    border: none;
    width: 10px;
    height: 5px;
    background-image: url('../img/gallery/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: 16px;
    margin-top: 0;
    top: 50%;
    transform: translateY(-50%);
}

.choices[data-type*=select-one].is-open::after {
    transform: translateY(-50%) rotate(180deg);
}

.choices[data-type*=select-one].is-open::after {
    margin-top: 0;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
    display: none;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding: 3px 40px 3px 16px;
}

.choices__list--dropdown .choices__item.is-selected {
    display: none;
}

.choices__list--dropdown .choices__item {
    border-bottom: 1px solid #999;
}

.choices__list--dropdown .choices__item:last-child {
    border-bottom: none;
}

.choices__list--dropdown {
    border: 1px solid #999999;
    border-radius: 6px !important;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    font-size: 16px;
    line-height: 32px;
    color: #999;
}

.choices__list--dropdown .choices__item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.choices.is-focused {
    background-color: rgba(255, 255, 255, 0.2);
}

.choices.is-open {
    background-color: transparent;
}

.checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: max-content;
}

.checkbox__check {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    transition: border-color .2s ease;
}

.checkbox:hover .checkbox__check {
    border-color: #C283F3;
}

.checkbox__input:focus~.checkbox__check {
    border-color: #C283F3;
}

.checkbox__input:checked~.checkbox__check {
    border-color: #C283F3;
}

.checkbox__check-active {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #C283F3;
    opacity: 0;
    transition: opacity .2s ease;
}

.checkbox__input:checked+.checkbox__check .checkbox__check-active {
    opacity: 1;
}

.checkbox__text {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    transition: color .2s ease;
}

.checkbox__input:focus~.checkbox__text {
    color: #C283F3;
}

.checkbox__input:checked~.checkbox__text {
    color: #C283F3;
}

.gallery__content {
    display: flex;
}

.slider-gallery__slide {
    cursor: pointer;
    position: relative;
}

.slider-gallery__slide:focus {
    outline: 3px solid #7943A4;
    outline-offset: -3px;
}

.slider-gallery__slide:hover {
    outline: none;
}

.slider-gallery__slide:active {
    outline: none;
}

.slider-gallery__slide::after {
    content: '';
    position: absolute;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('../img/gallery/magnifier.svg');
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .2s ease;
}

.slider-gallery__slide:hover::after {
    opacity: 1;
}

.slider-gallery__slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
    opacity: 0;
    transition: opacity .2s ease;
}

.slider-gallery__slide:active::before {
    opacity: 1;
}

.slider-gallery__slide-image {
    max-width: 100%;
}

.gallery__main {
    min-width: 0;
    position: relative;
}

.slider-gallery__navigation {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 100%;
    margin-bottom: 28px;
    left: 2px;
}

.slider-gallery__button {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666;
    margin-right: 18px;
    cursor: pointer;
    transition: background-color .2s ease;
}

.slider-gallery__button:last-child {
    margin-right: 0;
}

.slider-gallery__button:focus {
    outline: 2px solid #000;
    outline-offset: -2px;
}

.slider-gallery__button:hover {
    background-color: #9D5CD0;
    outline: none;
}

.slider-gallery__button:active {
    outline: 2px solid #000;
    background-color: #7943A4;
}

.slider-gallery__pagination {
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    margin-right: 21px;
}

.slider-gallery__button.swiper-button-disabled {
    background-color: #ECECEC;
    outline: none;
    pointer-events: none;
}

.slider-gallery__button.swiper-button-disabled .slider-gallery__button-arrow path {
    stroke: #CACACA;
}

/* catalog */
.catalog__title {
    margin-bottom: 16px;
}

.catalog__descr {
    max-width: 1080px;
    margin-bottom: 40px;
}

.catalog__wrapper {
    display: flex;
}

.catalog__content {
    max-width: 750px;
    margin-right: 50px;
}

.painter__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.painter__avatar-img {
    width: 100%;
    height: 470px;
    object-fit: cover;
}

.painter__name {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333;
    margin-bottom: 8px;
}

.painter_disabled .painter__descr {
    margin-bottom: 15px;
}

.painter__birthday {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 16px;
    color: #999;
}

.periods {
    flex: 1 1 auto;
}

.period {
    padding: 32px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #CACACA;
    margin-top: -1px;
    transition: border-color .2s ease;
    position: relative;
}

.period:first-child {
    border-color: #CACACA;
}

.period:hover {
    border-color: #9D5CD0;
    z-index: 10;
}

.period:active {
    border-color: #7943A4;
    z-index: 10;
}

.periods__item.active .period {
    border-color: #7943A4;
    z-index: 10;
}

.period__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333;
    transition: color .2s ease, backgrond-color .2s ease;
}

.periods__item.active .period__text {
    color: #7943A4;
}

.period:focus .period__text {
    background-color: #9D5CD0;
    color: #fff;
}

.period:hover .period__text {
    background-color: transparent;
    color: #9D5CD0;
}

.periods__item.active .period:hover .period__text {
    color: #7943A4;
}

.period:active .period__text {
    color: #7943A4;
    background-color: transparent;
}

.period__decor {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECECEC;
    border: 2px solid #ECECEC;
    transition: background-color .2s ease, border-color .2s ease;
}

.period:focus .period__decor {
    background-color: #D1A9F0;
}

.period:hover .period__decor {
    background-color: #D1A9F0;
}

.periods__item.active .period__decor {
    background-color: #D1A9F0;
    border-color: #9D5CD0;
}

.period__icon {
    transition: transform .2s ease;
}

.periods__item.active .period__icon {
    transform: rotate(180deg);
}

.painters__container {
    display: flex;
    padding: 25px 0;
}

.painters__list {
    margin-right: 60px;
}

.painters__list:last-child {
    margin-right: 0;
}

.disabled-block {
    display: flex;
    align-items: center;
}

.disabled-block__decor {
    width: 275px;
    height: 189px;
    border: 2px solid #999;
    padding: 12px;
    margin-right: 24px;
}

.disabled-block__decor-square {
    background-color: #999;
    height: 100%;
}

.disabled-block__wrapper {
    max-width: 275px;
}

.disabled-block-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333;
}

.disabled-block__title {
    margin-bottom: 5px;
}

.disabled-block-descr {
    font-size: 16px;
    line-height: 22px;
    color: #333333;
}

.disabled-block__descr {
    margin-bottom: 5px;
}

.disabled-block-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #9D5CD0;
}

.tabs-content {
    display: none;

}

.tabs-content.active {
    display: block;
    animation: fadeIn .2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.painters__item-btn {
    transition: background-color .2s ease, color .2s ease;
    font-size: 16px;
    line-height: 32px;
    color: #333;
    position: relative;
}

.painters__item-btn::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #9D5CD0;
    opacity: 0;
    transition: opacity .2s ease;
}

.painters__item-btn:hover::before {
    opacity: 1;
}

.painters__item-btn:focus {
    background-color: #9D5CD0;
    color: #fff;
}

.painters__item-btn:hover {
    color: #9D5CD0;
    background-color: #fff;
}

.painters__item-btn.active {
    pointer-events: none;
    background-color: transparent;
    color: #7943A4;
}

.painters__item-btn:active {
    background-color: transparent;
    color: #7943A4;
}

.painters__item-btn:active::before {
    opacity: 0;
}

.gallery-link {
    transition: background-color .2s ease, color .2s ease;
    position: relative;
}

.gallery-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #9D5CD0;
    opacity: 0;
    transition: opacity .2s ease;
}

.gallery-link:hover::after {
    opacity: 1;
}

.gallery-link:focus {
    background-color: #9D5CD0;
    color: #fff;
}

.gallery-link:hover {
    background-color: transparent;
    color: #9D5CD0;
}

.gallery-link:active {
    background-color: transparent;
    color: #7943A4;
}

.gallery-link:active::after {
    background-color: #7943A4;
}

/* events */
.events {
    padding-top: 0;
}

.events__title {
    margin-bottom: 16px;
}

.events__wrapper {
    position: relative;
}

.event {
    height: auto;
    display: flex;
    flex-direction: column;
}

.event__picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event__content {
    padding: 13px 50px 40px;
    border: 1px solid #CACACA;
    border-top: none;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.event__place {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #999;
    margin-bottom: 13px;
}

.event__place span {
    display: block;
}

.event__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #333;
    margin-bottom: 10px;
}

.event__descr {
    font-size: 16px;
    line-height: 32px;
    color: #333;
    margin-bottom: 65px;
    flex: 1 1 auto;
}

.event__link-text {
    position: relative;
    z-index: 10;
}

.event__link {
    font-size: 16px;
    line-height: 32px;
    color: #9D5CD0;
    position: relative;
    width: max-content;
    transition: color .2s ease;
}

.event__link::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #9D5CD0;
    z-index: 10;
}

.event__link::before {
    content: '';
    position: absolute;
    background-color: #9D5CD0;
    top: -2px;
    right: -8px;
    bottom: -7px;
    left: -8px;
    background-color: #9D5CD0;
    opacity: 0;
    transition: opacity .2s ease;
}

.event__link:focus {
    color: #fff;
}

.event__link:focus::after {
    background-color: #fff;
}

.event__link:focus::before {
    opacity: 1;
}

.events__slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ECECEC;
    border: 2px solid #ECECEC;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: background-color .2s ease, border-color .2s ease;
}

.events__slider-button:focus {
    border-color: #9D5CD0;
}

.events__slider-button:hover {
    background-color: #D1A9F0;
    border-color: #D1A9F0;
}

.events__slider-button:active {
    border-color: #9D5CD0;
}

.events__slider-button.swiper-button-disabled {
    background-color: #ECECEC;
    border-color: #ECECEC;
    pointer-events: none;
}

.events__slider-button.swiper-button-disabled svg path {
    stroke: #CACACA;
}

.events__slider-button_prev {
    left: 0;
    transform: translate(-50%, -50%);
}

.events__slider-button_prev svg {
    transform: rotate(180deg);
}

.events__slider-button_next {
    right: 0;
    transform: translate(50%, -50%);
}

/* projects */
.projects {
    padding-top: 0;
}

.projects__title {
    margin-bottom: 16px;
}

.projects__descr {
    max-width: 1078px;
    margin-bottom: 20px;
}

.partners__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333;
    margin-bottom: 23px;
}

.partners__wrapper {
    padding: 0 75px;
    position: relative;
}

.partner__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    border: 1px solid #CACACA;
    background-color: #fff;
    transition: border-color .2s ease;
}

.partner__link:focus {
    border-color: #9D5CD0;
}

.partner__link:hover {
    border-color: #CACACA;
}

.partner__link:active {
    border-color: #9D5CD0;
}

.partner__logo {
    filter: grayscale(1);
    opacity: .3;
    transition: filter .2s ease, opacity .2s ease;
}

.partner__link:hover .partner__logo {
    filter: grayscale(0);
    opacity: 1;
}

.partner__link:active .partner__logo {
    filter: grayscale(0);
    opacity: 1;
}

.partners__slider-button {
    width: 30px;
    height: 30px;
    background-color: #ECECEC;
    border: 2px solid #ECECEC;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color .2s ease, border-color .2s ease;
}

.partners__slider-button:focus {
    border-color: #9D5CD0;
}

.partners__slider-button:hover {
    background-color: #D1A9F0;
    border-color: #D1A9F0;
}

.partners__slider-button:active {
    border-color: #9D5CD0;
}

.partners__slider-button.swiper-button-disabled {
    background-color: #ECECEC;
    border-color: #ECECEC;
    pointer-events: none;
}

.partners__slider-button.swiper-button-disabled svg path {
    stroke: #CACACA;
}

.partners__slider-button_prev {
    left: 0;
}

.partners__slider-button_next {
    right: 0;
}

.projects__descr-link {
    position: relative;
}

.projects__descr-link-text {
    position: relative;
    z-index: 10;
    color: #9D5CD0;
}

.projects__descr-link:focus .projects__descr-link-text {
    color: #fff;
}

.projects__descr-link:hover .projects__descr-link-text {
    color: #9D5CD0;
}

.projects__descr-link:active .projects__descr-link-text {
    color: #7943A4;
}

.projects__descr-link::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background-color: #9D5CD0;
    opacity: 0;
    transition: opacity .2s ease;
}

.projects__descr-link:focus::before {
    opacity: 1;
}

.projects__descr-link:hover::before {
    opacity: 0;
}

.projects__descr-link:active::before {
    opacity: 0;
}

.projects__descr-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #9D5CD0;
    opacity: 0;
    transition: opacity .2s ease, background-color .2s ease;
}

.projects__descr-link:hover::after {
    opacity: 1;
}

.projects__descr-link:active::after {
    opacity: 1;
    background-color: #7943A4;
}

.tooltip {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tooltip__preview {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.tooltip__preview-wrapper {
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #9D5CD0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s ease;
}

.tooltip:focus:not(.active) .tooltip__preview-wrapper {
    background-color: #D1A9F0;
}

.tooltip:hover:not(.active) .tooltip__preview-wrapper {
    background-color: #D1A9F0;
}

.tooltip:active:not(.active) .tooltip__preview-wrapper {
    background-color: #9D5CD0;
}

.tooltip.active:active .tooltip__preview-wrapper {
    background-color: #9D5CD0;
}

.tooltip.active .tooltip__preview-wrapper {
    background-color: #9D5CD0;
}

.tooltip__icon path {
    transition: fill .2s ease;
}

.tooltip:active .tooltip__icon path {
    fill: #fff;
}

.tooltip.active .tooltip__icon path {
    fill: #fff;
}

.tooltip__detail {
    padding: 8px 11px;
    background-color: #9D5CD0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    width: max-content;
    max-width: 264px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visiability .2s ease;
}

.tooltip__detail::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 7px solid transparent;
    border-top: 9px solid #9D5CD0;
}

.tooltip.active .tooltip__detail {
    opacity: 1;
    visibility: visible;
}

/* contacts */
.form {
    padding: 38px 0;
    border: 1px solid #CACACA;
}

.form__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__address {
    margin-right: 20px;
}

.form__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333;
}

.form__address-descr {
    font-size: 16px;
    line-height: 32px;
    color: #333;
}

.form__fields {
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.form__label {
    position: relative;
}

.form__input {
    width: 270px;
    height: 50px;
    border: 1px solid #333;
    border-radius: 100px;
    font-size: 16px;
    line-height: 32px;
    color: #333;
    cursor: pointer;
    padding: 0 24px;
    margin-right: 20px;
    transition: background-color .2s ease;
}

.form__input:focus {
    background-color: #ECECEC;
}

.form__input:hover {
    background-color: #ECECEC;
}

.form__btn {
    min-width: 329px;
    min-height: 50px;
    padding: 0 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #9D5CD0;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    transition: background-color .2s ease, color .2s ease, border-color .2s ease;
}

.form__btn:focus {
    outline: 2px solid #C283F3;
    outline-offset: 5px;
}

.form__btn:hover {
    outline: none;
    background-color: #9D5CD0;
    color: #fff;
}

.form__btn:active {
    outline: none;
    background-color: #7943A4;
    color: #fff;
    border-color: #D1A9F0;
}

.connection__title {
    margin-bottom: 6px;
}

.connection__socials {
    display: flex;
    align-items: center;
}

.connection__socials-item {
    margin-right: 20px;
}

.connection__socials-item:last-child {
    margin-right: 0;
}

.connection__socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: opacity .2s ease, border .2s ease;
}

.connection__socials-link_whatsapp {
    background-color: #30BF39;
}

.connection__socials-link_telegram {
    background-color: #26A5E4;
}

.connection__socials-link:focus {
    opacity: .5;
}

.connection__socials-link:hover {
    opacity: .5;
}

.connection__socials-link:active {
    opacity: 1;
    border: 1px solid #9D5CD0;
}

.just-validate-error-label {
    padding-left: 25px;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #D11616 !important;
}

[class*="ground-pane"] {
    filter: grayscale(1);
}

.ymaps-2-1-79-controls__control {
    inset: 275px 10px auto auto !important;
}

.ymaps-2-1-79-controls__control_toolbar {
    display: none !important;
}

.ymaps-2-1-79-controls__toolbar_left .ymaps-2-1-79-user-selection-none {
    display: block !important;
    inset: 330px 10px auto auto !important;
}

.ymaps-2-1-79-controls__toolbar {
    top: 330px!important;
    left: auto!important;
    right: 10px!important;
    width: auto!important;
}

.ymaps-2-1-79-zoom {
    height: 5px !important;
    background-color: #fff !important;
    border-radius: 3px !important;
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 15%), 0 2px 5px -3px rgb(0 0 0 / 15%);
}

.ymaps-2-1-79-zoom__scale {
    display: none;
}

.ymaps-2-1-79-float-button {
    box-shadow: none !important;
}

.ymaps-2-1-79-_hidden-text {
    box-shadow: 0 1px 2px 1px rgb(0 0 0 / 15%), 0 2px 5px -3px rgb(0 0 0 / 15%) !important;
}

.ymaps-2-1-79-map-copyrights-promo {
    display: none;
}

.contacts .ymaps-2-1-79-copyright {
    display: none;
}

.ymaps-2-1-79-copyright__layout {
    display: none;
}

/* footer */
.footer {
    background-color: #000;
    padding: 48px 0;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__logo {
    margin-right: 20px;
}

.social {
    display: flex;
    align-items: center;
}

.social__item {
    margin-right: 20px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__link-icon path {
    transition: fill .2s ease;
}

.social__link:focus .social__link-icon path {
    fill: #fff;
}

.social__link:hover .social__link-icon path {
    fill: #fff;
}

.social__link:active .social__link-icon path {
    fill: #9D5CD0;
}